{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<style>
    :root {
        --primary: #9774d5;
        --secondary: #785cab;
        --link-fg: #7c449b;
        --link-selected-fg: #8f5bb2;
        --body-fg: #333;
        --body-bg: #fff;
        --body-quiet-color: #666;
        --body-loud-color: #000;
        --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
        --selected-bg: #e4e4e4; /* E.g. selected table cells */
        --selected-row: #ffc;
    }
    .django-quill-widget-container {
        height: 300px;
    }

</style>
{% endblock %}

{% block title %}{{ app_name }} Administration | {{ title }}
{% endblock title %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ app_name }} Administration</a></h1>
{% endblock branding %}

{% block userlinks %}
  {% url 'django-admindocs-docroot' as docsroot %}
  {% if docsroot %}
    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
    <span class="separator">|</span>
  {% endif %}

  <a href="/">View site</a>
  <span class="separator">|</span>

  <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
  <span class="separator">|</span>
  <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
  </span>
{% endblock userlinks %}

{% block nav-global %}
{% endblock nav-global %}

